.menu {
  background-color: #364a63;
  width: 350px;
  position: absolute;
  right: 60px;
  padding: 20px;
  z-index: 10;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 40px;
}

.priceline {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  font-size: 16px;
}

.price {
  color: #beeb14;
}

@media (max-width: 500px) {
  .menu {
    width: 300px;
    right: 20px;
  }
}
