.button {
  padding: 15px 5px;
  border-radius: 10px;
  background: #549300;
  border: 0;
  font-weight: 700;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background: #2e4d01;
}

.fullwidth {
  width: 100%;
}
