.navbar {
  background-color: #171a21;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
}

.search {
  min-width: 300px;
}

@media (max-width: 700px) {
  .navbar {
    padding: 0 20px;
  }
  .search {
    min-width: auto;
  }
}
