.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.title,
.price {
  font-size: 16px;
}

.price {
  color: #beeb14;
}

.remove {
  color: rgb(237, 87, 87);
  font: 10px;
  font-style: italic;
  cursor: pointer;
}
